NOTES.txt
assets/~$GECO_SC2_WGS_DATABASE.xlsx
assets/GECO_SC2_WGS_DATABASE.xlsx
assets/GECO_SC2_WGS_DATABASE_Batch2.xlsx
assets/GECO_SC2_WGS_DATABASE_Batch2.csv
extract_to_json/test_database1.json
extract_to_json/test_database1.xlx
